
.navbar {
    display: flex;
    justify-content: flex-start;
    gap: 0.6rem;

    max-height: 10rem;

    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    align-items: center;

    @media screen and (max-width: 350px) {
        padding: 2rem;
    }

    img{
        @media screen and (max-width: 350px) {
            height: 40px;
            width: 40px;
        }
    }

    h1 {
        font-size: 2.3rem;
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(173, 57, 155, 1) 0%, rgba(84, 43, 221, 1) 100%, rgba(255, 255, 255, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 350px) {
            font-size: 1.6rem;
        }
    }

}